template(name="Numbers")
  each columns
    h1 Coluna #{letter}
    .number-list
      each numbers _id
        paper-item
          paper-checkbox(checked=enabled)
          div.number #{number}
          paper-item-body.flex(two-line)
            div {{ifNull title "Sem título"}}
            div(secondary) {{ifNull description "Sem descrição"}}
          paper-icon-button.edit-btn(icon="create")

template(name="NumberEdit")
  paper-dialog(modal)#edit-dialog
    h2 Editar Número {{selected.number}}
    paper-input#number-edit-title(label="Título" value=selected.title)
    paper-input#number-edit-description(label="Descrição" value=selected.description)
    .buttons
      paper-button(dialog-dismiss) Cancelar
      paper-button(dialog-confirm) OK
