template(name="cardTable")
  table.my-card(class=tableClass)
    tr
      th b
      th i
      th l
      th i
      th d
    each cardSquaresTable card.square_ids
      tr
        each this
          td(class=squareClass)
            with square _id
              .title {{title}}
              .description {{description}}  

template(name='cardView')
  p Cartela de:
    strong= currentCard.owner.profile.name
  p Rodada: 
    strong= currentCard.round.name
  +cardTable card=currentCard

template(name="myCard")
  if currentRound
    unless currentCardIsOk
      .vertical.layout.center-justified
        p Você ainda não possui uma cartela para a rodada atual:
          strong= currentRound.name
        if currentUser
          paper-button.generateCard(raised)
            | Criar nova cartela
        else
          paper-button.generateCard(raised)
            | Criar cartela anônima
          p Cartelas anônimas não podem ser compartilhadas. Faça
            a(href="/sign-in") login
            | para poder compartilhar sua cartela e aparecer na lista de participantes.
  else
    +noRound
    
  if currentCard
    if currentCardIsOk
      p Cartela válida para:
      h2= currentRound.name
    else
      p Você ainda pode visualizar sua última cartela, mas ela não tem valor para esta rodada
    +cardTable tableClass="clickable" card=currentCard
